<div app-dot-tooltip class="tooltip" style="opacity: 0;"></div>
<svg [attr.height.px]="_dimensions.height" [attr.width.px]="_dimensions.width">
  <g id="chart">
    <g app-x-axis [brushPosition]="_brushPosition" [xAxisConfig]="_xAxis" (xAxisBuilt)="onXAxisChange($event)" [data]="_data" [autoScale]="_autoScale.x"
      [chartDimensions]="_dimensions">
    </g>
    <g *ngFor="let axis of _yAxes; let i = index" app-y-axis id="y-axis-{{i}}" [autoScale]="_autoScale.y" [yAxisConfig]="axis"
      [chartDimensions]="_dimensions" [axisNumber]="i" [data]="_data" (click)="onSelectAxis(axis)">
    </g>
    <defs app-clip-path [dimensions]="_dimensions"></defs>
        <g *ngIf="_axesReady[0]">
      <g clip-path="url(#clip)" *ngFor="let curve of _data.series; let i = index" app-curve id="path-{{curve.header.id}}" [data]="curve"
        [xAxis]="_xAxis" [yAxis]="curve.y" [serie]="i">
      </g>
      <g *ngFor="let curve of _data.series" clip-path="url(#clip)" app-curve-dots-set (selectAbscissa)="onSelectAbscissa($event)" id="dot-set-{{curve.header.id}}" [data]="curve" [xAxis]="_xAxis"
        [yAxis]="curve.y"></g>
      </g>
      <g app-brush-x class="brush brush-x" (brushXChange)="onBrushXChange($event)" [xAxisConfig]="_xAxis" [data]="_data" [chartDimensions]="_dimensions"></g>
      <g app-brush-y class="brush brush-y" (brushYChange)="onBrushYChange($event)" [yAxisConfig]="_selectedYAxis" [data]="_data" [chartDimensions]="_dimensions"></g>
    </g>
</svg>